{% extends "blog/base.html" %}
{% block content %}
    <h1>About the Website</h1>
    <div>
        <p>
            On this website programmers can share their projects, hacks or tips. Users can sign up, setup
            their profile, add post to the website. The post pages are paginated displaying 5 posts on each page. Users have
            options for posting comments, recovering your password, view posts made by a specific user, upvoting
            /downvoting comments etc.
        </p>
    </div>
    <br>
    <h1>About the developer</h1>
    <div>
        <p>
            Hello there, my name is Somnath Pal. I am a software/web developer currently studying at IIIT Kalyani. I love
        playing games, playing guitar and sometimes coding XD. My fields of interest are :- Web/Software development,
        Machine Learning, Problem Solving etc.
        </p>
    </div>
    <br>
    <h1>Feel free to connect :)</h1>
    <br>
    <div>
        <a href="https://www.linkedin.com/in/skywalker11/"><i class="fab fa-linkedin fa-3x"></i></a>
        <a href="https://github.com/WizArdZ3658"><i class="fab fa-github fa-3x"></i></a>
        <a href="https://www.instagram.com/wingman__7/"><i class="fab fa-instagram fa-3x"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100041162470486"><i class="fab fa-facebook fa-3x"></i></a>
        <a href="https://www.reddit.com/user/wingman__7"><i class="fab fa-reddit fa-3x"></i></a>
        <a href="https://twitter.com/wingman__7"><i class="fab fa-twitter fa-3x"></i></a>
        <a href="https://steamcommunity.com/profiles/76561198061336846/"><i class="fab fa-steam fa-3x"></i></a>
    </div>
{% endblock content %}