{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
{% endblock head_extra %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h1>Preview</h1>
            <hr/>
            <div class="content-preview">
                <h2 id="preview-title"></h2>
                <p id="preview-content"></p>
            </div>
        </div>

        <div class="col-sm-6">
            <h1>New Post</h1>
            <hr/>
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">Post</button>
            </form>
        </div>
    </div>

{% endblock content %}